# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DataCompany.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nutvismunt\Desktop\Freelance\DataCompany\.idea\.idea.DataCompany\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
