# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DataCompany.Android.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nutvismunt\Desktop\Freelance\DataCompany\DataCompany.Android\.idea\.idea.DataCompany.Android.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
